@import "tailwindcss";

@theme {
  --font-primary: "inter", sans-serif;

  --color-gray-primary: #344054;
  --color-gray-secondary: #5f738c;
  --color-gray-light: #98a2b3;

  --color-purple-primary: #7a5af8;
  --color-purple-secondary: #f4f3ff;

  --color-green-primary: #3baa90;
  --color-green-success: #12b76a;

  --color-primaryGradientStart: #7c7c7c33;
  --color-primaryGradientEnd: #ffffff00;
  --color-borderdark: #9bd1d0;
  --color-bgDark: #001718;
  --color-inputTextDark: #9bd1d066;
  --color-buttonDark: #9bd1d0;
  --color-primary: #023436;
  --color-bgDarkSecondary: #012223;
}
.suspense-loading-icon {
  animation-name: suspense-loading-icon;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes suspense-loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
